footer{
    background-color: var(--noir);
    padding: 2px;
    margin: 0px;
}

.blancfooter{
    color: white;
    text-align: start;   
    font-size: 12px; 
}

.logommi{
    position: absolute;
    bottom: -1500px;
    left: 10px;
}

.textmmifooter{
    margin-left: 30px;
    margin-right: 0px;
}

.nom {
    font-family: var(--m);
    color: white;
}

.réseau_sociaux{
    margin-left: 50%;
}