.carrousel{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 0px;
    column-gap: 0px;
    grid-auto-rows: minmax(180px, auto);
    width: 288px;
    height: 370px;
    margin-left: 45px ;
    background-color: var(--marron);
    grid-column: 2;
    grid-row: 2; 
    position: relative;
    overflow: hidden;

}

.f_lm img{
    width: 288px;
    height: 370px;
}


.f_lm {
    width: auto;
    height: auto;
    left:0;
}



.fi_lm, .fi_lm, .fi_lm {
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}